@mixin inner{
  width: 90%;
  max-width: 1280px;
  margin: auto;
}
@mixin sans-serif{
  font-family: 'Quicksand', 'Source Sans Pro', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', sans-serif;
}
// media PC
@mixin media-pc($width-media:980px){
  @media only screen and (min-width:$width-media){
    @content;
  }
}
// media SP
@mixin media-sp($width-media:979px){
  @media only screen and (max-width:$width-media){
    @content;
  }
}
@mixin text-large{
  font-size: 3rem;
  font-weight: bold;
}